Repository raiden-network/light-client, pull requests merged in 2019-11, with the labels that each got.

#545 Fix stepper background color
  raiden-dapp/src/views/TransferSteps.vue
Labels: bug 💣

#592 Fix config.logger
  raiden-ts/src/config.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/typings/matrix-js-sdk/index.d.ts
Labels: bug 💣, sdk 🖥

#595 Fixed PFS single selection in data table
  raiden-dapp/src/components/PathfindingServices.vue
Labels: bug 💣, dApp 📱

#612 BigNumbers are de|encoded as strings
  raiden-ts/src/messages/types.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/utils/data.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/state.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Labels: Alderaan 🪐, sdk 🖥

#644 Bump version to v.0.2.0
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Labels: Alderaan 🪐, dApp 📱, sdk 🖥

#646 Improve pfs url matching
  raiden-ts/src/path/utils.ts
  raiden-ts/tests/unit/epics/path.spec.ts
Labels: sdk 🖥
